.btn {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

.primary {
  background-color: blue;
  color: #fff;
}

.secondary {
  background-color: aqua;
}

.danger {
  background-color: red;
  color: white;
}
